<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>reputile</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/skeleton.css">
  <link rel="stylesheet" href="/css/custom.css">

	<link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>
  <div class="container">
		<section class="header">
			<h1>reputile <sup>beta</sup></h1>
			
			<p><img src="/img/rawr.svg" alt="sad dinosaur" width="100px"></p>

			<h3>something bad happened</h3>
			<p>{{ .error }}</p>
		</section>

		<p class="footer">
		Made with <i class="fa fa-heart"></i> in Austria.<br />
		<a href="https://github.com/sprungknoedl/reputile"><i class="fa fa-github"></i> Github</a>
		</p>
  </div>
</body>
</html>
