<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>reputile</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/skeleton.css">
  <link rel="stylesheet" href="/css/custom.css">

	<link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>
  <div class="container">
		<section class="header">
			<h1>reputile <sup>beta</sup></h1>
			<p><a href="/">Back to main page</a></p>

			<p>Hare are some recent statistics from reputile. If you want bigger numbers reach out to me on <a href="https://github.com/sprungknoedl/reputile">github</a> ;).</p>

			<div class="row">
				<div class="six columns">
					<p><i class="fa fa-5x fa-sitemap"></i></p>
					<strong>{{ len .lists }}</strong><br />
					blacklists
				</div>

				<div class="six columns">
					<p><i class="fa fa-5x fa-file-text"></i></p>
					<strong>{{ .entries }}</strong><br />
					entries
				</div>
			</div>
		</section>

		<p class="header"><img src="/img/rawr.svg" alt="rawr dinosaur" width="100px"></p>

		<p> 
		The following blacklist sources are currently integrated into reputile. If you know
		of any others or want a description changed, please create an <a href="https://github.com/sprungknoedl/reputile/issues">issue on github</a>	for it.
		</p>

		{{ range .lists }}
			<p> <h6 id="{{ .Key }}">{{ .Name }}</h6>
				{{ .Description }}
			</p>

			<p>
				<i class="fa fa-fw fa-home"></i> <a href="{{ .URL }}">{{ .Key }}</a> &emsp;
				<i class="fa fa-fw fa-download"></i> <a rel="nofollow" href="/lists/database.txt?source={{ .Key }}">database</a>
			</p>
		{{ end }}

		<p class="footer">
		Made with <i class="fa fa-heart"></i> in Austria.<br />
		<a href="https://github.com/sprungknoedl/reputile"><i class="fa fa-github"></i> Github</a>
		</p>
  </div>
</body>
</html>
